<h1>Lists: <%= @list.name %></h1>

<p><%= link_to "<< Go Back to Lists", lists_path() %></p>

<h3>Bookmarks</h3>

  <% @list.bookmarks.each do |bookmark| %>
      Comment: <%= bookmark.comment %>
      Movie: <%= bookmark.movie.title  %>
    <%= link_to "X Delete", bookmark_path(bookmark), method: :delete, data: { confirm: "Really?" } %>
  <% end %>


<h4>Create a bookmark</h4>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <h2>List: <%= @list.name %></h2>
  <br>
  <%= f.association :movie, prompt: 'Select a movie for your bookmark...' %>
  <br>
  <br>
  <%= f.submit %>
<% end %>
