<h1>Lists: <%= @list.name %></h1>

<p><%= link_to "<< Go Back to Lists", lists_path() %></p>

<p><i class="fas fa-plus"></i> <%= link_to "Create a bookmark", new_list_bookmark_path(@list) %></p>

<h3>Bookmarks</h3>
<ol>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      Comment: <%= bookmark.comment %>
      <ul>
         <li>Movie: <%= bookmark.movie.title  %></li>
      </ul>
    </li>
    <%= link_to "X Delete", bookmark_path(bookmark), method: :delete, data: { confirm: "Really?" } %>
  <% end %>
</ol>
